<html>
    <head>
     
        <title>CoinExchange</title>
        <h1><font color= "green">Coin Exchange</h1></font>
        <font color= "green">Type in your desired number </font>

        <link rel="stylesheet" type="text/css" href="css/styles.css">
    </head>
     <body background="images/giphy4.gif" align="middle">
    <form method="post" action="cents">
    <input type="number" name="textbox1" class="coinbox" >
    <script>
    function myFunction() {
        alert("Welcome to CoinExchange");
    }
    
    </script>
    <input type="submit" onclick="myFunction()">
    </form>
    <%=cash%>
        <div>
        </div>
        <div id="bob">
        </div>
        <div class="billy">
            
        </div>
        
    </body>
</html>